<apex:page showHeader="true" sidebar="true">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .center-block {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Bevvies</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"> Home </a></li>
          <li><a href="#"> About </a></li>
          <li><a href="#"> Gallery </a></li>
          <li><a href="#"> Contact </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>My Bevvies</h1>      
      <p>Some bevs that represent "Me"...</p>
    </div>
  </div>
    
  <div class="container-fluid bg-3 text-center">    
    <h3>Some of my Bevs</h3><br/>
    <div class="row">
      <div class="col-sm-3">
        <h4>Kentucky Brunch Brand Stout</h4>
        <p>Toppling Goliath Brewing Company</p>
        <img src="https://cdn.beeradvocate.com/im/beers/78820.jpg" class="mx-auto d-block" alt="Image"/>
      </div>
      <div class="col-sm-3"> 
        <h4>Rocket Fuel</h4>
        <p>8th Wonder Brewery</p>
        <img src="https://cdn.beeradvocate.com/im/beers/113236.jpg" class="mx-auto d-block" alt="Image"/>
      </div>
      <div class="col-sm-3"> 
        <h4>Foster's Lager</h4>
        <p>Foster's Group Limited</p>
        <img src="https://cdn.beeradvocate.com/im/beers/918.jpg" class="mx-auto d-block" alt="Image"/>
      </div>
      <div class="col-sm-3">
        <h4>Nukin' Futz</h4>
        <p>Track 7 Brewing Co.</p>
        <img src="https://cdn.beeradvocate.com/im/beers/169162.jpg" class="mx-auto d-block" alt="Image"/>
      </div>
    </div>
  </div><br /><br />

  <div class="container-fluid bg-3 text-center">    
    <div class="row">
      <div class="col-sm-3">
        <h4>Bud Light &#38; Clamato Chelada</h4>
        <p>Anheuser-Busch</p>
        <img src="https://cdn.beeradvocate.com/im/beers/37424.jpg" class="mx-auto d-block" alt="Image"/>
      </div>
      <div class="col-sm-3"> 
        <h4>Maple Bacon Coffee Porter</h4>
        <p>Funky Buddhe Brewery</p>
        <img src="https://cdn.beeradvocate.com/im/beers/62761.jpg" class="mx-auto d-block" alt="Image"/>
      </div>
      <div class="col-sm-3"> 
        <h4>Assassin Imperial Stout</h4>
        <p>Toppling Goliath Brewing Company</p>
        <img src="https://cdn.beeradvocate.com/im/beers/78660.jpg" class="mx-auto d-block" alt="Image"/>
      </div>
      <div class="col-sm-3">
        <h4>Caffè Americano</h4>
        <p>Cigar City Brewing</p>
        <img src="https://cdn.beeradvocate.com/im/beers/98020.jpg" class="mx-auto d-block" alt="Image"/>
      </div>
    </div>
  </div><br /><br />

  <footer class="container-fluid text-center">
    <p>Footer Text</p>
  </footer>

</body>

</apex:page>